version: 2.0
jobs:
  build:
    docker:
      - image: circleci/golang:1.9
    steps:
      - checkout
      - run:
          name: build and push docker image
          command: |
            TAG=0.1.$CIRCLE_BUILD_NUM
            docker build -t eu.gcr.io/cosmic-surface-250108/webapp:$TAG .
            echo ${token}| docker login -u oauth2accesstoken --password-stdin https://eu.gcr.io
            docker push eu.gcr.io/cosmic-surface-250108/webapp:$TAG
